.hotel-card-parent{
    width: 100%;
    margin: 0rem 0;

 }

 .hotel-card-grid-parent{
     width: 100%;
     display: grid;
     grid-template-columns: repeat(3,minmax(0,1fr));
     justify-items: center;
 }

 .district-hotel-parent{
     width: 20rem;
     height: 22rem;
     display: flex;
     flex-direction: column;
     align-items: flex-start;
     justify-content: flex-start;
     margin: 2rem 0 2rem 0;
     cursor: pointer;
     border-radius: 10px;
     background-color: white;
     box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

     /* border: 1px solid black; */

 }


 .hotel-cover-images{
     width: 100%;
     height: 16rem;
     border-radius: 10px;
     overflow: hidden;
 }

#selected-img-div{
    border-radius: 10px;
    width: 100%;
    height: 16rem;
}

 #selected-img{
     width: 100%;
     height: 16rem;
     overflow: hidden;
     object-position: center;
     object-fit: cover;
     border-radius: 10px;
     margin: -2rem 0 0 0;
 }

 /* .hotel-cover-images img:hover{
     transition: all;
     transition-duration: 500ms;
     transform: scale(1.05);
 } */

 .hotel-details-card{
     width: 100%;
     height: 7rem;
     display: flex;
     flex-direction: column;
     overflow: hidden;
     margin: -2rem 0 0 0;
     padding:1rem 0 0 1rem;
 }

 .hotel-title{
     width: 100%;
     height: max-content;
     overflow: hidden;
 }

 .hotel-title h1{
     font-size: 1.2rem;
     letter-spacing: 1px;
     height: max-content;
     text-transform: capitalize;
     font-weight:normal;
     font-weight: 600;
     color: black;
 }

 .hotel-ratings{
     width: 100%;
     height: max-content;
     overflow: hidden;
     display: flex;
     flex-direction: row;

 }
 .hotel-ratings p{
     font-size: .5rem;
     margin: .4rem 0 0 0;
 }

 .hotel-location{
     overflow: hidden;

 }
 .hotel-location p{
     font-size: .6rem;
     margin: .3rem 0 0 0;
     font-weight: 600;
     display: flex;
     flex-direction: row;
     overflow: hidden;
     text-transform: capitalize;
     color: #414756;

 }

 .hotel-location p span{
     font-size: .5rem;
     display: flex;
     flex-direction: row;
     align-items:center;
     margin: 0 .1rem 0 0;
 }

.hotel-amenities-top{
     display: none;
 }

 .hotel-amount-bottom{
     display: flex;
     flex-direction: row;
     width: 100%;
     justify-content: flex-start;
     overflow: hidden;
     

 }

 .hotel-amount-bottom h3{
    width: 100%;
    height: max-content;
    font-size: 1.3rem;
    margin: .3rem 0 0 0;
    overflow: hidden;
    color:  black;

 }

 .hotel-amount-bottom h3 span{
    font-size: 1rem;
    
 }

 .hotel-amount-bottom button{
     display: none;
 }

 .show-other-hotels-button{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 1rem 0;
 }

 .show-other-hotels-button button{
    width: max-content;
    height: max-content;
    font-size: .9rem;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    background: none;
    padding: .5rem;
    font-weight: 600;
    border: 3px solid #020D21;
    color: #020D21;
    transition: all;
    transition-duration: 250ms;
 }

 .show-other-hotels-button button:hover{
    background-color: #020D21;
    color: rgba(255, 255, 255, 1);
 }

 #load-more-hotels-button-space{
    margin: 2rem 0 0 0;
 }

 #hotel-link{
    text-decoration: none;
    color: black;
 }
@media screen and (max-width:1028px){

    .hotel-card-parent{
       width: 100%;
    }

    .hotel-card-grid-parent{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2,minmax(0,1fr));
        justify-items: center;

    }

    .district-hotel-parent{
        width: 18rem;
        height: 24rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 2rem 0 2rem 0;
        border-radius: 10px;

        /* border: 1px solid black; */

    }

    .hotel-cover-images{
        width: 100%;
        height: 16rem;
        border-radius: 10px;
        overflow: hidden;
    }

    .hotel-cover-images img{
        width: 100%;
        height: 2rem;
        object-position: center;
        object-fit: cover;
        overflow: hidden;
        border-radius: 10px;

        /* border: 1px solid black; */

    }

    #selected-img{
        width: 100%;
        height: 100%;
        overflow: hidden;
        object-position: center;
        object-fit: cover;
    }

    /* .hotel-cover-images img:hover{
        transition: all;
        transition-duration: 260ms;
        transform: scale(1.01);
    } */

    .hotel-details-card{
        width: 100%;
        height: max-content;
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }

    .hotel-title{
        width: 100%;
        height: max-content;
        overflow: hidden;
    }

    .hotel-title h1{
        font-size: 1rem;
        height: max-content;
    }

    .hotel-ratings{
        width: 100%;
        height: max-content;
        overflow: hidden;

    }
    .hotel-ratings p{
        font-size: .5rem;
        margin: .2rem 0 0 0;
    }

    .hotel-location{
        overflow: hidden;

    }
    .hotel-location p{
        font-size: .65rem;
        margin: .3rem 0 0 0;

    }

    .hotel-location p span{
        font-size: .6rem;
        display: flex;
        align-items:center;
    }

   .hotel-amenities-top{
        display: none;
    }

    .hotel-amount-bottom{
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: flex-start;

    }

    .hotel-amount-bottom h3{
        font-size: 1.4rem;
        margin: .2rem 0 0 0;
        overflow: hidden;

    }

    .hotel-amount-bottom button{
        display: none;
    }

}

@media screen and (max-width:768px){

    .hotel-card-grid-parent{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1,minmax(0,1fr));
        justify-items: center;
    }

    .district-hotel-parent{
        width: 18rem;
        height: 21.5rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        margin: 2rem 0 2rem 0;
        cursor: pointer;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
   
        /* border: 1px solid black; */
   
    }



}