.top-parent-book-hotel-box{
    width: 80%;
    height: max-content; 
    display: flex;
    flex-direction: row;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    padding: 1rem;
    overflow: hidden;
}

.book-hotel-outer-box{
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.top-column-parent{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid red; */
}

.top-parent-review-counts-rating{
    margin: 1rem 0;
}

.top-parent-cost-hotel-name h1{
    font-size: 1.5rem;
    width: max-content;
    display: flex;
    align-items: center;
}

#amount-day{
    font-size: .8rem;
    margin: 0 0 0 .2rem;
    font-weight: 300;
}

.hotel-details-name h3{
    font-size: .7rem;
    font-weight: 600;
    color: rgba(0, 0, 0, 1);
}

.hotel-review-rating span{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 3px 0 0;
}

.hotel-review-rating h4{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: .6rem;
    margin: .2rem 0 0 0;
}

#review-count{
    font-weight: 300;
}

.hotel-dates-guest-selecting{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 10px;
    margin: 1rem 0;
}


.hotel-dates-selecting{
    display: grid;
    grid-template-columns: repeat(2,minmax(0,1fr));
    border-bottom: 1px solid black ;

}

.hotel-dates-check-in-selecting{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: .5rem 0 .5rem 1rem;
    border-right: 1px solid black;


}

.hotel-dates-check-in-selecting label,.hotel-dates-check-out-selecting label{
    font-size: .6rem;
}

.hotel-dates-check-out-selecting{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: .5rem 0 .5rem 1rem;
    /* border: 1px solid black; */


}

.shown-div{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: .5rem 1rem;

}

.hotel-guests-listing h4{
    font-size: .7rem;
}

.hotel-guests-listing p{
    font-size: .7rem;
}

.hotel-booking-confirm{
    margin:0 0 1rem 0;
}

.hotel-booking-confirm button{
    width: 100%;
    height: 3rem;
    font-size: 1rem;
    font-weight: 600;
    padding: .3rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background: #2E2752;
    color: rgba(255, 255, 255, 1);

}

.hotel-booking-amonunt-calculation{
    display: flex;
    flex-direction: column;
}

.actual-amount-days{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 1rem 0;

}

.actual-amount-days h5{
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-weight: 300;
}

.actual-amount-days h5 span{
    display: flex;
    align-items: center;
}


#selected h5{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1rem;
    font-weight: 700;
}

#selected span{
    font-weight: 300;
    font-size: .9rem;
    margin: 0 0 0 3px;
}


/* this is for fixed position div */

.members-room-parent-selecting{
    width: 73%;
    height: max-content;
    position: absolute;
    z-index: 999;
    background-color: white;
    margin: 0rem 1rem 1rem 0rem;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
}

.members-room-child-selecting{

    display: flex;
    flex-direction: column;

}

.members-room-common-selecting{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1rem 0;

}

.members-selecting h3{
    font-size: 1rem;
}

.members-selecting p{
    font-size: .7rem;
}

.members-count-selecting{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 1rem;
}

.members-count-selecting p{
    margin: 0 .5rem;
}

.button-members{
    width: 2rem;
    height: 2rem;
    border-radius: 100px;
    border: 1px solid black;
    cursor: pointer;
    /* margin: 0 .5rem; */
}


.members-selecting-close{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.members-selecting-close button{
    border: none;
    background: none;
    cursor: pointer;
    border-bottom: 1px solid black;
    margin: 1rem;
}


@media screen and (max-width:1024px) {


    .top-parent-book-hotel-box{
        width: 60%;
    }

    .members-room-parent-selecting{
        width: 56%;

    }


    .hotel-dates-check-in-selecting input,.hotel-dates-check-out-selecting input{
        font-size: .6rem;
        margin: .3rem 0;
        padding: .1rem;
       }

    
}

@media screen and (max-width:768px) {
   
    .top-parent-book-hotel-box{
        width: 100%;
        margin: 0 .1rem;
    }

    .members-room-parent-selecting{
        width: 90%;
        height: 45%;
    }

    .members-room-common-selecting{
        margin: .6rem 0;
    }

   .top-parent-cost-hotel-name h1{
    font-size: 1.1rem;
   }

   .hotel-details-name h3{
    font-size: .5rem;
   }

   .hotel-review-rating h4{
    font-size: .6rem;
   }


   .hotel-dates-check-in-selecting input,.hotel-dates-check-out-selecting input{
    font-size: .5rem;
    margin: .3rem 0;
    padding: .1rem;
    color: black;
   }

   .hotel-dates-check-in-selecting label,.hotel-dates-check-out-selecting label{
    font-size: .5rem;
   }

   .hotel-guests-listing h4{
    font-size: .6rem;
   }

   .hotel-guests-listing p{
    font-size: .55rem;
   }

   .members-selecting h3{
    font-size: .7rem;
   }

    .members-selecting p{
        font-size: .55rem;
    }

    .members-count-selecting p{
        font-size: .8rem;   
    }

    .hotel-booking-confirm{
        height: 2rem;
        border-radius: 5px;
        
    }

    .hotel-booking-confirm button{
        width: 100%;
        height: max-content;
        font-size: 1rem;
    }

    
}