.book-hotel-confirm-parent{
  margin: 0 10vw 0 10vw;
  height: max-content;

}

.book-hotel-child-1{
    width: 100%;
    height: max-content;
    /* display: grid; */
    /* grid-template-columns: repeat(2,minmax(0,1fr)); */
    display: flex;
    flex-direction: row;
  
}

.child-hotel-facilities{
    height: max-content;
    width: 100%;
}

.child-hotel-book{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 1rem 0;
    position:sticky;
    top: 0;
}