.book-hotel-confirm-parent{
  margin: 0 10vw 0 10vw;
  height: 100%;

}

.book-hotel-child-1{
    width: 100%;
    height: max-content;
    /* display: grid; */
    /* grid-template-columns: repeat(2,minmax(0,1fr)); */
    display: flex;
    flex-direction: row;
    padding: 2rem 0;
  
}

.child-hotel-facilities{
    height: max-content;
    width: 100%;
}

.child-hotel-book{
    width: 75%;
    display: flex;
    justify-content: center;
    padding: 1rem 0;
    position:sticky !important;
    top: 0 !important;
}

@media screen and (max-width:1024px) {

    .book-hotel-child-1{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .child-hotel-facilities{
        width: 100%;
        height: max-content;
    }

    .child-hotel-book{
        width: 80%;
        height: max-content;
    }
    
}

@media screen and (max-width:756px) {

    .book-hotel-child-1{
        display: flex;
        flex-direction: column;
        align-items: center;
    
    }

    .child-hotel-book{
        width: 100%;
    }
    
}