.profile-top-parent{
    width: 80vw;
    height: max-content;
    margin: 3rem 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: .5rem;
    /* border: 1px solid black; */

}



.profile{
    width: 60%;
    height: 100%;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items:center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin: 3rem 0 1rem 0;

    /* border: 1px solid black; */
}

.profile-child{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 1px solid black; */
}


.profile img{
    width: 5rem;
    height: 5rem;
    border-radius: 100px;
    margin: 0 0 1rem 0;
    object-position: center;
    object-fit: cover;
}

.details table{
    width: max-content;
    height: max-content;
    /* border: 1px solid black; */
    margin: 1rem 0;
    table-layout: fixed;

}

.details table td:last-child{
    font-weight: 800;
 }


.details table td{
    /* border: 1px solid black; */
    width: 100%;
    padding: 1rem;
    word-wrap: break-word;
    /* white-space: pre; */
}

.profile-card-top-parent{
    width: 100%;
    height: max-content;
    margin: 3rem 0 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profiel-card-place-parent,.profile-card-hotel-parent{
    width: 100%;
    height: max-content;
    margin: 2rem 0;
}

#profile-hr-line{
    width: 80vw;
}

#profile-heading-id {
    width: 100%;
    font-size: 1.3rem;
    display: flex;
    justify-content: flex-start;
    font-weight: 800;
    color: #2E2755;
}

#edit-profile-icon{
    position: absolute;
    right: 2rem;
    cursor: pointer;
}

@media screen and (max-width:1024px) {

    .profile{
    width: 80%;
    height: 100%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    }

    .details img{
        margin: 1rem 0;
        object-position: center;
        object-fit: contain;
    }

    .details table{
        width: max-content;
        height: max-content;
        /* border: 1px solid black; */
        margin: 1rem 0;
        table-layout: fixed;
    
    }

    .details table td:last-child{
        font-weight: 800;
     }
    
    
    .details table td{
        /* border: 1px solid black; */
        width: 100%;
        padding: 1rem;
        word-wrap: break-word;
    }

    .profile-card-top-parent{
        width: 100%;
        height: max-content;
        margin: 2rem 0 3rem 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .profiel-card-place-parent,.profile-card-hotel-parent{
        width: 100%;
        height: max-content;
        margin: 3rem 0;
    }

    #edit-profile-icon{
        position: absolute;
        top: 1rem;
        right: 1rem;
    }

    
}

@media screen and (max-width:768px) {
    .profile{
        width: 100%;
        height: max-content;
        /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        /* box-shadow: none; */
        border-radius: 10px;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 2rem 1rem;
    }



    .details img{
        margin: 1rem 0;
        object-position: center;
        object-fit: contain;
    }

    .details table{
        width: max-content;
        height: max-content;
        /* border: 1px solid black; */
        margin: 1rem 0;
        table-layout: fixed;
    
    }

    .details table td:last-child{
       font-weight: 800;
    }
    
    
    .details table td{
        /* border: 1px solid black; */
        width: 100%;
        padding: .3rem;
        font-size: .6rem;
        word-wrap: break-word;
    }

    #profile-heading-id {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        font-size: 1.2rem;
        /* border: 1px solid black; */
        /* margin: 0 0 0 20%; */
    }

    .profile-card-top-parent{
        width: 100%;
        height: max-content;
        margin: 1rem 0 1rem 0;
    }
    
    .profiel-card-place-parent,.profile-card-hotel-parent{
        width: 100%;
        height: max-content;
        margin: 2rem 0 0 0;
    }
   
}

