.comment-parent-top{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 1rem;
}

.comment-parent{
    width:65%;
   display: flex;
   flex-direction: column;
   height: max-content;
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
   margin: 0 1rem;
   padding: 0 1.5rem;
   border-radius: 10px;

}

.comment-parent h1{
    margin: 1rem 0 0rem 0;
    font-size: 1.3rem;
    text-transform: uppercase;
    font-weight: 300;
}
.star-rating{
    display: flex;
    flex-direction:row;
    margin: 1rem 0 .4rem 0;
    font-size: 1.2rem;
}

.review-form{
    display: flex;
    flex-direction: column;
}

.review-form label{
    font-size: .8rem;
    font-weight: 300;
    margin: 1rem 0 .4rem 0;
    text-transform: capitalize;
}

.review-form select{
    width: 100%;
    height: 2.5rem;
    border-radius: 5px;
    text-indent: 5px;
    padding: 5px;
    cursor: pointer;
    text-transform: capitalize;
    font-size: 1rem;
}


.review-form textarea{
    width: 100%;
    height: 8rem;
    border-radius: 5px;
    text-indent: 5px;
    padding: 5px;
    resize: none;
}

.review-form button{
    width: 100%;
    height: 2rem;
    margin: 1rem 0 2rem 0;
    font-size: 1rem;
    text-transform: uppercase;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid black;
}

.review-form p{
    width: 100%;
    font-size: .6rem;
    text-align: center;
    color: rgba(255, 0, 0,.6);
    margin: .2rem 0;
}

@media screen and (max-width:1024px) {

    .comment-parent-top{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    
    .comment-parent{
        width: 70%; 
    }

    .comment-parent h1{
        margin: 1.5rem 0 0 0;
        font-size: .8rem;
    }

    .star-rating{
       font-size: 1rem;
       margin: .4rem 0 0 0;
       /* border: 1px solid black; */
    }

    .review-form label{
        font-size: .7rem;
        font-weight: 300;
        text-transform: capitalize;

    }
    .review-form select{
        width: 100%;
        height: max-content;
        font-size: .7rem;
    }

    .review-form textarea{
        width: 100%;
        height: 5rem;
        font-size: .6rem;
    }

    .review-form button{
        font-size: .8rem;
        height: max-content;
        display: flex;
        align-items: center;
        justify-content: center;
    }

}

@media screen and (max-width:768px) {
    
    .comment-parent-top{
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 0 0 1rem 0;
    }
    
    .comment-parent{
        width:100%;
       display: flex;
       flex-direction: column;
       height: max-content;
       box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
       margin: 0 1rem;
       padding: 0 1.5rem;
    
    }
    
}


