.hotelDetails{
    width: 100%;
    display: inline-flex;
    flex-direction: column;
    padding: 1rem;
}

h3{
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 300;
}

.hotelTitle h3{
    width: 100%;
    margin: .5rem 0;
    font-size: 2rem;
    text-transform: uppercase;
    overflow: hidden;
    font-weight: 700;
    letter-spacing: 2px;
}

.hotel-address{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: .2rem 0 3rem 0;
    
}

.hotel-address p{
    font-size: .9rem;
    display: flex;
    text-transform: capitalize;
    margin: 0 .2rem 0 0;
    display: flex;
    align-items: center;
}

.hotel-address span{
    display: flex;
    align-items: center;
    font-size: .7rem;
    margin: 0 .1rem 0 0;
}

.hotel-photos{
    display: grid;
    grid-template-columns: repeat(2,minmax(0,1fr));
    margin: 1rem 0 1rem 0;
    gap: .5rem;
    object-fit: cover;
    cursor: pointer;
    padding: .5rem;
    height: max-content;
    overflow: hidden;

}

.hotel-photos img{
    width: 16rem;
    height: 14rem;
    margin-left: .5rem;
    border-radius: 10px;
    transition-duration: .2s;
    padding-top: 0;   
    overflow: hidden; 
}

#sepicifc-image-id{
    margin: 0;
}

.hotel-photos img:hover{
    transition: all;
    transition-duration: 250ms;
    transform: scale(1.05);
    overflow-y: hidden;
}

#amenities{
    margin: 1rem 0 0 0;
}

.hotel-amenities{
    display: grid;
    grid-template-columns: repeat(2,minmax(0,1fr));
    grid-template-rows: repeat(3,minmax(0,1fr));
    gap: 2.5rem;
    margin: 2rem 0 2rem 0;
    width: 100%;
}

.hotel-amenities p{

    font-size: 1.4rem;
    font-weight: 300;
    display: flex;
    align-items:center;

}

.hotel-amenities span{
    font-size: 1.5rem;
    margin: 0 .4rem 0 0;
}

.show-hotel-button{
    width: 100%;
    margin: 2rem 0;
    display: flex;
    align-items: center;
}

.show-hotel-button button{
    width: 10rem;
    height: 2.3rem;
    font-size: 1rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

hr{
    margin: 1.5rem 0;
    width: 100%;
}

#line-through{
    text-decoration: line-through;
}