.review-parent{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 2rem .5rem;
    margin: 0 0 1rem 0;
    text-align: justify;
}

.review-list{
    width: 100%;
    margin: 1rem 0;
    padding: 1rem;
    border: 1px solid black;
    border-radius: 10px;

}


.review-list-column-img{
    display: flex;
    align-items: flex-start;
}

.review-list-column-img img{
    width: 3rem;
    height: 3rem;
    border-radius: 100px;
    object-fit: cover;
    margin: 0 1rem 0 0;
}

.new-div{
    display: flex;
    flex-direction: column;
    
}

.new-div h1{
    font-size: 1rem;
    text-transform: capitalize;
    font-weight: 600;
}

.ratins-star-column{
    display: flex;
    flex-direction: row;
    align-items: center;

}


.review-ratings-date{
    display: inline-flex;
    align-items:center;
}

.rating-star{
    font-size: 1.3rem;
}

.rating-star,.rating-date{
    margin: .1rem .5rem .5rem 0rem;
}

.rating-date p{
    font-size: .7rem;
    font-weight: 300;
}

#review-date-show{
    font-size: .7rem;
    font-style: italic;
}

.review-comments{

    display: flex;
    flex-direction: column;
    width: 100%;
}

.review-comments h3{
    font-size: .7rem;
    font-weight: 800;
    margin: 0 0 .5rem 0;
    color: #414756;
}

.review-comments p{
    width: 100%;
    font-size: .8rem;
    font-weight: 600;
}

#review-comments-id{
    font-size: .7rem;
    letter-spacing: 1px;
}

.review-parent p{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
}

.review-parent p span{
    font-size: 2rem;
    align-self: center;
    margin: 0 .5rem;
}

.review-comment-error{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    margin: 30% 0 0 0;
}

.more-comments-button{
    width: 100%;
    display: flex;
    justify-content: center;
}

.more-comments-button button{
    font-size: 1rem;
    font-weight: 600;
    background: none;
    border: none;
    cursor: pointer;
    color: #2E2752;
    text-decoration: underline;
}

@media screen and (max-width:1024px) {

    .review-list-column-img img{
        width: 2rem;
        height: 2rem;
    }
    .review-parent{
        width: 100%;
        text-align: justify;
    }

    .new-div h1{
        font-size: 1.1rem;
    }

    .rating-star{
        font-size: .5rem;
    }

    .rating-date p{
        font-size: .5rem;
    }

    .review-comments h3{
        font-size: .7rem;
    }

    .review-comments p{
        font-size: .6rem;
        
    }
    
}

@media screen and (max-width:756px) {
    .review-list-column-img img{
        width: 1.5rem;
        height: 1.5rem;
    }
    .review-parent{
        width: 100%;
        /* text-align: justify; */
    }

    .new-div h1{
        font-size: .8rem;
    }

    .rating-star{
        font-size: .4rem;
    }

    .rating-date p{
        font-size: .3rem;
    }

    .review-comments h3{
        font-size: .5rem;
    }

    .review-comments p{
        font-size: .5rem;
        
    }

    
}