.review-parent{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0 .5rem;
    margin: 0 0 1rem 0;
}

.review-list{
    width: 100%;
    margin: 1rem 0;
    padding: 1rem;
    border: 1px solid black;
    border-radius: 10px;


}


.review-list-column-img{
    display: flex;
    align-items: flex-start;
}

.review-list-column-img img{
    width: 3rem;
    height: 3rem;
    border-radius: 100px;
    object-fit: cover;
    margin: 0 1rem 0 0;
}

.new-div{
    display: flex;
    flex-direction: column;
    
}

.new-div h1{
    font-size: 1.4rem;
    text-transform: capitalize;
    font-weight: 300;
}

.ratins-star-column{
    display: flex;
    flex-direction: row;
    align-items: center;

}


.review-ratings-date{
    display: inline-flex;
    align-items:center;
}

.rating-star{
    font-size: 1.3rem;
}

.rating-star,.rating-date{
    margin: .1rem .5rem .5rem 0rem;
}

.rating-date p{
    font-size: .9rem;
    font-weight: 300;
}

.review-comments{

    display: flex;
    flex-direction: column;
    width: 100%;
}

.review-comments h3{
    font-size: .7rem;
    font-weight: 800;
    margin: 0 0 .5rem 0;
}

.review-comments p{
    font-size: .7rem;
}

@media screen and (max-width:1024px) {

    .review-list-column-img img{
        width: 2rem;
        height: 2rem;
    }
    .review-parent{
        width: 100%;
    }

    .new-div h1{
        font-size: 1.1rem;
    }

    .rating-star{
        font-size: .5rem;
    }

    .rating-date p{
        font-size: .5rem;
    }

    .review-comments h3{
        font-size: .7rem;
    }

    .review-comments p{
        font-size: .6rem;
        
    }
    
}