main{
    width: 100vw;
    height: calc(100vh - 3.5rem);
    /* height: 100vh; */
    background-image: url('bg-img.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
}