.top-post-parent{
 margin: 2rem 0 0 0;   
}

.top-post-parent h3{
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    text-transform: capitalize;
    letter-spacing: 2px;
    margin: 1rem 0 2rem 0;
    color: #2E2755;
    font-weight: 600;
}


.place{
    display: grid;
    width: 80vw;
    grid-template-columns: repeat(3,minmax(0,1fr));
    justify-items: center;
    /* padding: 1rem; */
    row-gap: 1rem;
    column-gap: 1rem;
    justify-content: center;
    align-items: center;
    margin: 0 10vw;

}


section .place-container{
    width: 21vw;
    height: 23rem;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    background-color: white;
    border-radius: 10px;
    margin: 1rem;
}

.place-img{

    width: 100%;
    height: 15rem;    
    overflow: hidden;
    border-radius: 10px;

}



.place-img img{
    width: 100%;
    height: 15rem;    
    overflow: hidden;
    border-radius: 10px;

}

.place-img img:hover{
    transition: all;
    transition-duration: 250ms;
    transform: scale(1.05);
    overflow-y: hidden;
}

.place-details{
    padding: .5rem .5rem;
}

#place-link{
    text-decoration: none;
    color: black;
}

.place-details p{
    font-size: .6rem;
    margin: 0 0 .2rem 0;
    text-transform:capitalize;
    color: #414756;
    font-weight: 800;

}

.place-details h1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 1rem;
    font-weight: 800;
    text-transform: uppercase;
    margin: 0 0 .2rem 0;
    color: #2E2755;

}
.place-rating p{
    color: #2E2755;
}
.place-rating span{
    color: #FFBA5A;
    display: flex;
    align-self: center;
    margin: 0 .2rem 0 0;
}
.place-location{
    display: flex;
    flex-direction: row;
    font-size: .7rem;
}

.load-more-button{
    width: 80vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10vw;
}

.load-more-button button{
    width: max-content;
    height: max-content;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 5px;
    border: none;
    padding: .5rem;
    font-weight: 600;
    border: 3px solid #020D21;
    color: #020D21;
    background: none;
    transition: all;
    transition-duration: 250ms;
}

.load-more-button button:hover{

    background-color: #020D21;
    color: rgba(255, 255, 255, 1);

}

@media only screen and (max-width: 1023px){
    .top-post-parent{
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .place{
        display: grid;
        grid-template-columns: repeat(2,minmax(0,1fr));
        align-items: center;
        align-content: center;
        justify-self: center;
        justify-content: center;
        justify-items: center;
        row-gap: 1rem;
        column-gap: 1rem;
        padding: .8rem;
        overflow: hidden;
        margin: 1rem;
    }

    section .place-container{
        width: 30vw;
        height: 22rem;
        display: flex;
        flex-direction: column;
    }

}

@media screen and (max-width:1028px){

    .place-details h1{
        font-size: .8rem;
    }

    .place-details p{
        font-size: .6rem;
    }

}

@media screen and (max-width:768px){
    .top-post-parent{
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }

    .place{
        width: 100%;
        height:100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }



    section .place-container{

        width: 70vw;
        height: 100%;

    }   

    .top-post-parent h3{
        padding: 0 1rem;
        font-size: 1.3rem;
    }
    
}