.home-page{
    width: 100vw;
    height: max-content;
    display: flex;
    flex-direction: column;
    /* background-image: url('bg-2.png'); */
    background-position:100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-origin: border-box;



}

.home-component{
    width: 100vw;
    height: 70vh;
    background-image: url('bg-4.jpg');
    background-color: #ffffff;
/* background-image: linear-gradient(43deg, #ffffff 0%, #6dd5fa 46%, #2980b9 100%); */
    
    background-position:100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-origin: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 0 0 0;
}

.heading-text{
    width: max-content;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.heading-text h1{
    font-size: 3rem;
    font-weight: 800;
    padding: 1rem;
    text-transform: capitalize;
    color: rgba(255,255,255,0.9);

}

.heading-text p{
    text-align: center;
    font-size: 1rem;
    color: rgba(255,255,255,0.9);
    margin: 1rem 0;
}

.select{
    width: 75vw;
    height: 10vh;
    /* background-color: white; */
    /* border: 1px solid white; */
    border-radius: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 1rem 0;
}

.select select{
    width: 30%;
    height: max-content;
    padding: .5rem .5rem;
    margin: 0 1rem;
    border-radius:10px;
    font-size: 1rem;
    cursor: pointer;
    border: 3px solid white;
    background: none;
    color: rgba(255,255,255,0.9);

}

.select select:focus{
    color: black;
}


.high-rated-places{

    width: 10%;
    height: max-content;
    /* border: 1px solid white; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.high-rated-places button{
    width: 8rem;
    font-size: 1rem;
    background: none;
    border: 3px solid white;
    padding: .5rem;
    color: rgba(255,255,255,0.9);
    border-radius: 10px;
    cursor: pointer;

}

.loading-error{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.error-shown{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.error-shown  span{
    font-size: 4rem;
    margin: 0 1rem 0 0;
}

.error-shown h3{
    text-transform: capitalize;
    display: flex;
    align-items: center;
}

.about-us-component{
    width: 100%;
    /* margin: 2rem 10rem; */
    background: #F1F1E6;
    margin: 2rem 0 0 0;
    /* background: #F3F9FF; */
    
}


@media only screen and (max-width: 768px){

.heading-text{
    width: 100vw;
    height:100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    padding: .5rem;
    margin: 0;
    overflow: hidden;
    border: none;
    /* border: 1px solid white; */
}

.heading-text h1{
    font-size: 1.6rem;
    text-align:center;
    margin: 0;
    letter-spacing: 2px;
    line-height: 2.5rem;
    
}

.heading-text p{
    width: 100vw;
    font-size: .9rem;
    font-weight: 600;
    margin: 0rem 0 0 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

.home-component{
    width: 100vw;
    height: 60vh;
    background-image: url('bg-4.jpg');
    background-position:100%;
    background-repeat: no-repeat;
    background-size:cover;
    background-origin: border-box;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: flex-start;
}


.select{
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin: 1rem 0 0 0;
    overflow: hidden;
    /* margin: 1rem; */
    /* border: 1px solid yellow; */
}

.select select{
    width: 60%;
    margin: .2rem 0;
}


.high-rated-places{    
    width: 100%;
    height: max-content;
    margin: 0rem 0 2rem 0;
    padding: 2rem;
    overflow: hidden;
    /* border: 3px solid white; */

}

.high-rated-places button {
    border: 3px solid white;
    height: auto;
    width: 10rem;

}

.about-us-component{
    width: 100%;
    height: max-content;
    margin: 2rem 0 0 0;
    /* padding: 2rem 0; */
}




}


