.home-page{
    width: 100vw;
    height: max-content;
    display: flex;
    flex-direction: column;
    /* background-image: url('bg-1.png'); */
    background-position:100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-origin: border-box;



}

.home-component{
    width: 100vw;
    height: 80vh;
    background-image: url('bg-2.png');
    background-position:100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-origin: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


}

.heading-text{
    width: max-content;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.heading-text h1{
    font-size: 3rem;
    font-weight: 800;
    padding: 1rem;
    text-transform: capitalize;
    color: rgba(255,255,255,0.9);

}

.heading-text p{
    text-align: center;
    font-size: 1rem;
    color: rgba(255,255,255,0.9);
    margin: 1rem 0;
}

.select{
    width: 75vw;
    height: 10vh;
    /* background-color: white; */
    /* border: 1px solid white; */
    border-radius: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 1rem 0;
}

.select select{
    width: 30%;
    height: max-content;
    padding: .5rem .5rem;
    margin: 0 1rem;
    border-radius:10px;
    font-size: 1rem;
    cursor: pointer;
    border: 3px solid white;
    background: none;
    color: rgba(255,255,255,0.9);

}

.select select:focus{
    color: black;
}


.high-rated-places{

    width: 10%;
    height: max-content;
    /* border: 1px solid white; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.high-rated-places button{
    width: 8rem;
    font-size: 1rem;
    background: none;
    border: 3px solid white;
    padding: .5rem;
    color: rgba(255,255,255,0.9);
    border-radius: 10px;
    cursor: pointer;

}

.card-component{
    margin: -5rem 0 0 0;
}




