
.header{
    width: 100%;
    height: 7rem;
    overflow: hidden;
    display: flex;  
    background-color:rgb(2,13,33);
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    color: white;
    padding: 2rem 3rem;
    box-shadow: rgba(2,13,33, 0.3) 0px 19px 38px, rgba(2,13,33, 0.22) 0px 15px 12px;
}

.logo{
    width: max-content;
    height: max-content;
    display: flex;
    align-items: center;
    /* margin: 0 0 0 2rem; */
    /* border: 1px solid white; */
}

.logo img{
    width: 5rem;
    height: 5rem;
    cursor: pointer;
}


.nav ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    /* border: 1px solid white; */


}

.nav ul li{

    margin: 0 1rem;
    list-style: none;
    cursor: pointer;
    font-weight: 600;
    font-size: 1rem;
    border-bottom: 2px solid rgb(2,13,33);

}

.nav ul li:hover{
    border-bottom-color: white;
}

.nav ul li:visited{
    border-bottom-color:white;

}


#nav-id a{
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
    font-weight: 800;
    /* color:red; */
}

#menu-id{
    display: none;
}

#login-icon-id{
    display: flex;
    align-items: center;
    font-size: 1rem;
}

.menu-nav{
    display: none;
}

#account-show-laptop{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 5rem;
    right: 1rem;
    background-color:rgb(2,13,33);
    color: #020d21;
    color: rgba(255, 255, 255, 1);
    /* padding: 1rem; */
    align-items: center;
    /* border: 1px solid black; */
    width: max-content;
    box-shadow: rgba(2,13,33, 0.3) 0px 19px 38px, rgba(2,13,33, 0.22) 0px 15px 12px;


}

#account-show-laptop li{
    margin-left: 0;
    padding: 1rem;
    width: 8rem;
    border-bottom: 1px solid rgba(255, 255, 255, 1);
    cursor: pointer;
    align-items: center;
    margin: 0;
    text-align: center;
    /* border: 1px solid black; */

}

#account-show-laptop a{
    color: #020d21;
    color: rgba(255, 255, 255, 1);
    text-align: center;
}

#account-show-mobile{
    display: none;
}


@media screen and (max-width:1024px) {

    .header{
        border: none;
    }

    #menu-id{
        display: none;
    }

    .menu-nav{
        display: none;
    }

    #account-show-mobile{
        display: none;
    }
    
}

@media screen and (max-width:768px) {



    #header-id{
        border: none;
        align-items: center;
        padding: 0 1rem;
    }

    .header{
        border: none;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border-bottom: none ;
        height: 5rem;
    }
    .nav{
        display: none;
    }

    #menu-id{
        font-size: 1.8rem;
        display: flex;
        width: fit-content;
        align-items: center;
        cursor: pointer;
    }

    .menu-nav{
        display:flex;
        width: 45%;
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;    
        background: rgba(255, 255, 255, 1);
        color: black;
        z-index: 99999;
        transition: transform 0.2s ease-in;
    
    }

    .menu-nav ul {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: flex-start;
        margin: 1rem 0 0 .7rem;
    }

    .menu-nav ul li{
        padding: 0 0 .5rem 0;
        width: 100%;
        margin: .5rem 0;
        border-bottom: 1px solid black;
        cursor: pointer;
        font-size: 1rem;
        font-weight: 600;
        text-transform: capitalize;
    }

    #nav-id a{
        width: 100%;
        color: black;
    }

    #nav-close-button-id{
        align-self: flex-end;
        margin: 0 1rem 0 0;
        font-size: 1.5rem;
        cursor: pointer;
    }

    #account-show-laptop{
        display: none;
    }

    #account-show-mobile{
        display: flex;
        flex-direction: column;
        background-color: white;
        color: rgb(2,13,33);
        position: absolute;
        top: 16rem;
    }

    .logo img{
        width: 4rem;
        height: 4rem;
        cursor: pointer;
    }
    
}