*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gudea', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Lora', serif;
    font-family: 'Mouse Memoirs', sans-serif;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto Slab', serif;
    font-family: 'Rubik', sans-serif;
    font-family: 'Varela', sans-serif;
    overflow-x: hidden;
    
}